
body{
    width: 100%;
    margin: 0;
    padding:0px;
background-color: rgb(235,229,270);
font-family: Arial, Helvetica, sans-serif;
}

header{
width: 100%;
background-color: rgb(62, 40, 209);
background-image: linear-gradient(#4e69a2,#3b5998 50%);
border-bottom:  1px solid #133783; 
display:flex;
justify-content: space-around;
padding:  0.6em 0cm;
/*height: 15px;
text-align: center;}

header a{
    color: white;
    text-decoration:none;
    /*margin: 100px;
}
#brand{
    font-size: 230%;
    align-self: center;]
font-weight: bold;
}

header form{
    color: white;
    margin-left:35%;


}

header form ul{
    display: flex;
    flex-direction:row;
    list-style-type: none ;
    margin-bottom: 0;
    padding:0;

}
header form li{
    align-self: flex-start;
 font-size:150% ;  
  padding: 0.2em 0.5em;
}

header form input{
    margin-bottom: 0.8em;
    height: 30px;

}
header form input[type="submit"]{
background-color: #4267b2;
border:1px solid #08298A;
color:white;
height: 24px;
font-weight: bold;
margin-top:32px;
width:100%;

}
div{
    font-size: larger;
    margin: 1%;
}

